<style>
.btn_station {
    background-color: #0c407a;
    border-left: 10px solid #fe7600;
}
.bg-light-blue-active, .modal-primary .modal-header, .modal-primary .modal-footer {
    background-color: #357ca5 !important;
}
</style>

<div class="container-fluid  bg-light-blue-active" style=" clear: both;
    position: relative;
    
    margin-top: 0px;">

            <div class="container" style="bottom:0; padding-top:10px;padding-bottom:30px;margin-bottom: 0;">
                
                <div class="row" style="font-size:13px;">
                    <div class="col-md-6">
                        <span style="color: #FFFFFF">Content owned by <a target="_blank"  style="color: #FFFFFF;" href="#"><strong>CRIS </strong></a></span><b style="color: #ffffff"><strong style="color: #ffffff"> Copyright © </strong> 2018</b>
                       <br>
                        <a href="#"><strong style="color: #ffffff">Contact Us</strong></a>
                       
                        
                    </div>
                    <div style="line-height: 18px;border-left:solid 3px white" class="col-md-4">
                        
                                <span style="color: #ffffff">This site is designed, developed by 
                                <a target="_blank" href="#"><img alt="COMS" src="img/download.jpg" />
                                </a><br>
                                
                                 </span>

                    </div>
                    <div class="col-md-2">
                    <a href="AdminLogin.jsp"><strong style="color: #ffffff">Admin login</strong></a>
                    </div>
                    
                </div>
            </div>
          </div>